<% currency = @party.currency %>
<h1><%= restaurant.name %></h1>
<h5><%= restaurant.address %></h5>
<h5><%= restaurant.phone %></h5>
<h5><%= restaurant.website %></h5>
<hr>

<h3><%= @party.reservation %> Receipt</h3>
Items:
<% @receipt[:orders].each do |order| %>
    <p>
        <%= order[:name] %>
        |  <%= restaurant.get_currency order[:qty_price], currency %>
        <% if order[:qty] > 1 %>
            <br>
            Qty: <%= order[:qty] %> @ <%= restaurant.get_currency order[:price], currency %>
        <% end %>
    </p>
<% end %>
<hr>
<h5>Subtotal: <%= restaurant.get_currency @receipt[:total][:subtotal], currency %></h5>
<h5>Tax: <%= restaurant.get_currency @receipt[:total][:tax], currency %></h5>
<h4>Total: <%= restaurant.get_currency @receipt[:total][:grand], currency %></h4>

<div id="print-clear">
    Tip guide<br>
    <%= @receipt[:total][:tip] %>
</div>
<div id="print-button">PRINT</div>
