<h1>Server Portal</h1>
<% @tabletops.each do |table| %>
    <p>
        Table <%= table.id.to_s %>:
        <%= table.occupied ? "Occupied by #{table.party.reservation}" : "" %>
        <%= "#{table.status}" unless table.occupied %>
        <%= link_to icon('tint'), clean_path(table) if table.status == "dirty"%>
    </p>
<% end %>

<h1>Parties</h1>
<% @seated.each do |party| %>
    <p>
        <%= party.reservation %>, <%= party.size %>,
        Tables: <% party.tabletops.each do |t| %>
            <%= t.id.to_i %>
        <% end %>
        <%= link_to icon('cutlery'), party_path(party) %>
        <%= link_to icon('print'), party_receipt_path(party) %>

        <%= link_to icon('times'), party_path(party), method: :delete %>
    </p>
<% end %>
