<%= stylesheet_link_tag    'restaurant', media: 'all', 'data-turbolinks-track' => true %>
<%= render 'nav' %>

<h1>Main Action Page</h1>
<h1>Tables</h1>
<% @tabletops.each do |table| %>
    <p>
        Table <%= table.id.to_s %>:
        <%= table.occupied ? "Occupied by #{table.party.reservation}" : "Vacant" %>
        <%= "and #{table.status}" unless table.occupied %>
        <%= link_to icon('tint'), clean_path(table) if table.status == "dirty"%>
    </p>
<% end %>
<h1>Parties</h1>
<%= link_to "New Party", new_party_path %>
<% @parties.each do |party| %>
    <p>
        <%= party.reservation %>, <%= party.size %>,
        <% if party.tabletops.length > 0 %><%# if party is seated  %>
            Tables: <% party.tabletops.each do |t| %>
                <%= t.id.to_i %>
            <% end %>
            <%= link_to icon('cutlery'), party_path(party) %>
            <%= link_to icon('print'), party_receipt_path(party), class: "receipt" %>
        <% else %>
            Waiting for a table... <%= link_to "Seat them", edit_party_path(party) %>
        <% end %>

        <%= link_to icon('times'), party_path(party), method: :delete %>
    </p>
<% end %>
<h1>Current Orders</h1>
<% @orders.each do |order|%>
    <div>
        Order of <%= order.dish.name %>
        for <%= order.party.reservation %>
        is <%= order.status %>
        <%= link_to(icon('check'), cook_path(order), method: :put) %>
    </div>
<% end %>


<%= javascript_include_tag 'restaurant', 'data-turbolinks-track' => true %>
