<%= stylesheet_link_tag    'restaurant', media: 'all', 'data-turbolinks-track' => true %>
<%= render 'nav' %>

<h1 id="title"><%= restaurant.name %></h1>
<h2>Tables</h2>

<div class="tables">
    <% @tabletops.each do |table| %>
        <% status = table.status %>
        <% occupied = table.occupied ? "occupied" : "vacant" %>
        <div class="table <%= status %> <%= occupied  %>">
            <h3><%= table.id.to_s %></h3>
            <%= occupied %>
            <%= "and #{status}" unless table.occupied %>
        </div>
    <% end %>
</div>

<div class="row">
    <div class="two-thirds column">
        <h1>Parties</h1>

        <div class="row">
            <div class="six columns">
                <h4>Waitlist</h4>
                <% if @waitlist.length > 0 %>
                    <ol>
                        <% @waitlist.each do |party| %>
                            <li><%= party.reservation %>, <%= party.size %></li>
                        <% end %>
                    </ol>
                <% else %>
                    Empty
                <% end %>
            </div>

            <div class="six columns">
                <h4>Seated</h4>
                <% if @seated.length > 0 %>
                    <ul>
                        <% @seated.each do |party| %>
                            <li>
                                <%= party.reservation %>, <%= party.size %>,
                                Tables: <% party.tabletops.each do |t| %>
                                    <%= t.id.to_i %>
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                <% else %>
                    Empty
                <% end %>
            </div>
        </div>


    </div>
    <div class="one-third column">
        <h1>Kitchen queue</h1>
        <% if @queue.length > 0 %>
            <% @queue.each do |order|%>
                <div>
                    Order of <%= order.dish.name %>
                    for <%= order.party.reservation %>
                    is <%= order.status %>
                </div>
            <% end %>
        <% else %>
            Empty
        <% end %>
    </div>
</div>

<%= javascript_include_tag 'restaurant', 'data-turbolinks-track' => true %>
