<% if flash[:error] %>
Errors:
    <% flash[:error].each do |error| %>
        <p class="error"><%= error %></p>
    <% end %>
<% end %>

<%= form_for @user do |f| %>
    <%= f.label :username%>
    <%= f.text_field :username %>
    <%= f.select(:type, @user.types) %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit %>
<% end %>
