<%= render 'nav' %>
<h1>Employees</h1>
<%= link_to 'New User', new_user_path %>
<ul>
    <% @users.each do |user| %>
        <li>
            <%= user.username %> <%="| #{user.position}" if user.position%> <%= link_to "Edit", edit_user_path(user) %><%# terminate button  %>
        </li>
    <% end %>
</ul>
