<%= render 'nav' %>
<h1>Create New Employee</h1>
<% if flash[:error] %>
Errors:
    <% flash[:error].each do |error| %>
        <p class="error"><%= error %></p>
    <% end %>
<% end %>
<%= form_for @user do |f| %>
    <%= f.label :username%>
    <%= f.text_field :username %>
    <%= f.select(:position, @user.positions) %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit %>
<% end %>
