<%= stylesheet_link_tag    'host', media: 'all', 'data-turbolinks-track' => true %>


<div class="row">
    <div class="ten columns">
        <div class="row">
            <div class="four columns">
                <h1>Host Stand </h1>
            </div>
            <div class="eight columns">
                <h3> <%= link_to "Home", root_path, class: "button" %></h3>
            </div>
        </div>

        <div class="tables">
            <% @tabletops.each do |table| %>
                <% status = table.status %>
                <% occupied = table.occupied ? "occupied" : "vacant" %>

                <div class="table <%= status %> <%= occupied  %>">
                    <h3><%= table.id.to_s %></h3>
                    <%= occupied %>
                    <%= "and #{status}" unless table.occupied %>
                    <h3><%= icon('tint') if table.status == "dirty"%></h3>
                </div>
                <% if status == "dirty" %>
                    </a>
                <% end  %>
            <% end %>
        </div>
    </div>

    <div class="two columns">
        <h3>Waitlist</h3>
        <%= link_to "New Party", new_party_path, class: "button button-primary"%>


        <% if @waitlist.length %>
            <ol>
                <% @waitlist.each do |party| %>

                    <li>
                        <%= party.reservation %>, <%= party.size %>
                        <%= link_to icon('times'), party_path(party), method: :delete %><br>
                        <%= link_to "Seat party", edit_party_path(party) %>

                    </li>
                <% end %>
            </ol>
        <% end %>
    </div>
</div>


<%= javascript_include_tag 'host', 'data-turbolinks-track' => true %>
