<%= stylesheet_link_tag    'kitchen', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'kitchen', 'data-turbolinks-track' => true %>

<table class="orders u-full-width">
    <thead>
        <th>
            <h1><%= Time.zone.now.strftime("%I:%M") %></h1>
            <% num = 1323431223 %>
            
        </th>

    </thead>
    <tbody>
        <% num = 0 %>
        <% 5.times do %>
            <tr>
                <% 2.times do %>
                    <td class="order" data-time="<%= @orders[num].created_at if @orders[num] %>">
                        <div class="row">
                            <div class="one column">
                                <%= num + 1 %>
                            </div>
                            <div class="ten columns">
                                <% if @orders.length > num %>
                                    <h2><% order = @orders[num] %>
                                    <%= order.dish.name %></h2>

                                    <div class="comment"><%= order.comment %></div>


                                    for <%= order.party.reservation %>  |
                                    Placed at: <%= order.created_at.strftime("%I:%M") %>
                                    </div>
                                    <div class="one column">
                                        <h3><%= link_to icon('check'), kitchen_path(@orders[num]), method: :put %></h3>
                                        <h4><%= link_to icon('times'), kitchen_path(@orders[num]), method: :delete %></h4>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </td>
                    <% num += 1 %>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

<%= button_to "Home", root_path, method: :get, class: "nav button button-primary" %>
