<%= stylesheet_link_tag    'server', media: 'all', 'data-turbolinks-track' => true %>




<div class="row">

    <div class="ten columns">
        <div class="row">
            <div class="six columns">
                <h1>Server Portal </h1>
            </div>
            <div class="six columns">
                <h3> <%= link_to "Home", root_path, class: "button" %></h3>
                <h3> <a href="#parties" class="button mobile ">Parties</a></h3>
            </div>
        </div>
        <% @tabletops.each do |table| %>

            <% status = table.status %>
            <% occupied = table.occupied ? "occupied" : "vacant" %>
            <% if status == "dirty" %>
                <a href="<%= clean_path(table) %>">
            <% end  %>
                <div class="table <%= status %> <%= occupied  %>">
                    <h3><%= table.id.to_s %></h3>
                    <%= table.occupied ? "Occupied by #{table.party.reservation}" : "" %>
                    <%= "#{status}" unless table.occupied %>
                    <h3><%= icon('tint') if table.status == "dirty"%></h3>
                </div>
            <% if status == "dirty" %>
                </a>
            <% end  %>
        <% end %>
    </div>
    <div class="two columns">

        <h3 id="parties">Parties</h3>
        <% @seated.each do |party| %>
            <div class="party">
                <%= party.reservation %>, <%= party.size %>
                <div class="buttons">
                    <%= link_to icon('cutlery'), party_path(party) %>
                    <%= link_to icon('print'), party_receipt_path(party), class: "receipt" %>
                    <%= link_to icon('times'), party_path(party), method: :delete %>
                </div>
            </div>
        <% end %>
    </div>

</div>
<%= javascript_include_tag 'server', 'data-turbolinks-track' => true %>
